@font-face {
  font-family: Brigends;
  src: url("../style/brigends.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  scroll-behavior: smooth;
  background-color: rgb(0, 0, 0);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-y: auto; 
  overflow-x: hidden;
}

.video-webm {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.fond {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.overlay {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.logo {
  position: relative;
  min-width: 50px;
  max-width: 500px;
  width: 50vw;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}


.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #000000;
  color: white;
  font-size: 14px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover {
  color: #ff0000;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-icon {
  margin: 0 10px;
}


#cart {
  height: 100vh;
  width: 30%;
  margin-left: auto;
  padding: 20px;
  border: 0;
  border-left: 1px solid rgba(27, 31, 35, 0.15);
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;
  transition-behavior: allow-discrete;
  display: block;
  
  opacity: 0;
  transform: translateX(100%);
  background-color: transparent; 
}

#cart:popover-open {
  opacity: 1;
  transform: translateX(0px);
  background-color: black;
  color: white;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
}

.item-details p {
  margin: 5px 0;
  font-size: 18px; 
}   

.checkout {
  margin-top: 20px;
  text-align: center;
}

.checkout p {
  font-size: 18px;
  font-weight: bold;
}

.checkout button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
  border: 2px solid rgb(255, 238, 0);
  cursor: pointer;
}

.checkout button:hover {
  background-color: rgb(255, 238, 0);
  color: black;
}

/* BUTTONS STYLE */
.button {
  background-color: transparent; 
  appearance: none;
  border-radius: 15px;
  color: #000000; 
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 16px 24px;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  border: none;
}

.close-button {
  padding: 12px 20px; 
  font-size: 36px; 
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(0);
}






/* ---------- responsive ---------- */
/* pour ordi */
@media only screen and (min-width: 600px) { 

}

/* pour tel */
@media only screen and (max-width: 600px) { 

/* faire que #cart souvre sur tout la surface du tel */
#cart {
  width: 100%;
}
}




