html, body {
    background-color: rgb(20, 20, 20);
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
}

.background {
    background-image: url("../images/backH.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteneur {
    position: flex;
    z-index: 10;
}

.background img.logo {
    transition: transform 0.3s ease;
}

.background img.logo:hover {
    transform: scale(1.1);
}


main {
    text-align: center;
    padding-top: 10%;
    color: white;
    font-size: 50px;
}

p {
    font-size: 40px;
}

.logo {
    width: 512px;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.lien {
    transition: transform 3s ease;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
    position: relative;
}

.txt {
    font-size: 50px;
    color: white;
    text-align: center;
    margin-top: 10%;
    z-index: 2;
    position: relative;
}

.logo:hover {
    transform: scale(1.1);
}

.lien:active {
    transform: scale(2);
}

@media only screen and (max-width: 600px) {
    .logo {
        width: 256px;
        transition: transform 0.5s ease;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .logo {
        width: 256px;
        transition: transform 0.5s ease;
        cursor: pointer;
    }
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
}

.dropdown {
    position: relative;
}

#btnMenu {
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: none;
}

.dropbtn {
    background: none;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.dropbtn:hover {
    transform: scale(1.1);
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #ffd900;
    min-width: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
}

.dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    border-radius: 10px;
    background-color: #bca000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 95px;
}

.login-btn {
    right: 5%;
    color: rgb(0, 0, 0);
    background-color: #ffd900;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.5s ease;
}

.login-btn:hover {
    background-color: #bca000;
    transform: scale(1.2);
}
